extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Chat")


        
        //- .row 
            //- .chat 
            //-     .inner-body 
            //-         .inner-incoming 
            //-             .inner-name Em yeu
            //-             .inner-content 
            //-                 | A o sang nha em , nha e ko co ai 
            //-             .inner-outgoing 
            //-                 .inner-content 
            //-                     | The a ? OK e 
            //-             .inner-incoming 
            //-                 .inner-name Em yeu 
            //-                 .inner-content 
            //-                     | Nhanh nha 
            //-             .inner-outgoing 
            //-                 .inner-content 
            //-                     | Ck den roi ma thay ai o nha dau ? Khoa cua ma 
            //-             .inner-incoming 
            //-                 .inner-name Em Yeu 
            //-                 .inner-content 
            //-                     | Thi em ba nha ko co ai ma anh 
            //-         .inner-foot     
            //-             form(
            //-                 class="inner-form"
            //-                 action=""
            //-             )
            //-                 input(
            //-                     type="text"
            //-                     placeholder="Nhập nội dung"
            //-                     name="content"
            //-                 )
            //-                 button 
            //-    
                             i.fa-solid.fa-paper-plane
        
        .chatbot
            header 
                h2 ChatBot 
            ul(
                class="chatbox"
                my-id=user.id
            )
                each chat of chats 
                    
                    if(user.id != chat.user_id)
                        li(class="chat incoming")
                            div(class="inner-name")
                                b #{chat.infoUser.fullName}
                            if(chat.content)
                                div(class="inner-content")
                                    p #{chat.content}
                            if(chat.images.length > 0)
                                div(class="inner-images")
                                    each image in chat.images 
                                        img(src=image)
                    else
                        li(class="chat outgoing")
                            if(chat.content != "")
                                div(class="inner-content")
                                    p #{chat.content}
                            if(chat.images.length > 0)
                                div(class="inner-images")
                                    each image in chat.images 
                                        img(src=image)
                li(class="chat typing")
            .upload-image 
                div(class="custom-file-container" data-upload-id="upload-img")

            .chat-input 
                form(
                    action=""
                    class="inner-form"
                )
                    input(
                        placeholder="Nhập nội dung ..." 
                        type="text"
                        name="content"
                    )

                    label(
                        for="file-upload-with-preview-upload-img"
                    ) <i class="fa-solid fa-image"></i>
                    
                    .button-emo
                        <i class="fa-solid fa-icons"></i>
                    button
                        i(class="fa-regular fa-paper-plane")
    div(class="tooltip" role="tooltip")
        emoji-picker
    

