.sider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Tong quan
            if(role.permissions.includes("product-category_view")) 
                li 
                    a(href=`${prefixAdmin}/products-category`) Danh muc san pham 
            if(role.permissions.includes("product_view")) 
                li 
                    a(href=`${prefixAdmin}/products`) San pham 
            if(role.permissions.includes("role_view")) 
                li 
                    a(href=`${prefixAdmin}/roles`) Nhom quyen
            if(role.permissions.includes("role_view"))  
                li 
                    a(href=`${prefixAdmin}/roles/permissions`) Phan quyen
            if(role.permissions.includes("account_view")) 
                li 
                    a(href=`${prefixAdmin}/accounts`) Tai khoan
            li 
                a(href=`${prefixAdmin}/setting/general`) Cai dat chung 